<!doctype html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main_content">
            {{>header}}
            <p>This site was created by {{name}}. It uses data freom mapbox.com and darksky.net. </p>
            <img src="img/bot.jpg" alt="">
        </div>
        {{>footer}}
    </body>
</html>